* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
body {
	background-color: #c1b494;
}

#index {
	border-bottom: 1px solid #ffffff;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 36px 0;
	position: relative;
	nav {
		a {
			font-size: 24px;
			color: #ffffff;
			margin: 18px 36px;
		}
	}
	.vector {
		position: absolute;
		right: 36px;
		img {
			width: 54px;
			height: 54px;
		}
	}
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 90px;

	.section-left-item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 36px;
		width: 870px;
		height: 900px;
		background-color: #6cb3af;
		.section-left-content-item {
			width: 798px;
			height: 900px;
			display: flex;
			justify-content: center;
			align-items: end;
			background-image: url(../images/image\ 1.png);

			.section-left-content-item {
				background-image: none;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(255, 255, 255, 0.1);
				width: 471px;
				height: 54px;
				margin: 36px 0;

				.outline {
					width: 174px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 15px;
					color: #ffffff;
					border: 1px solid #c1b494;
					background-color: #c1b494;
					.outline-div {
						margin: 0 10px;
					}
				}
				.frame {
					width: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #ffffff;
					padding: 15px;
					border: 1px solid #c1b494;
					.frame-div {
						margin: 0 10px;
					}
				}
				.path {
					width: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #ffffff;
					padding: 15px;
					border: 1px solid #c1b494;
					.path-div {
						margin: 0 10px;
					}
				}
			}
		}
	}
	.section-right-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 870px;
		height: 900px;
		background-color: #ffffff;
		padding: 54px;
		.section-right-item-content {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 762px;
			.section-right-item-content-title {
				color: #515056;
				font-size: 24px;
				margin-bottom: 24px;
				font-weight: lighter;
			}
			.section-right-item-content-name {
				color: #c1b494;
				font-size: 27px;
				font-weight: bold;
			}
			.section-right-item-content-text {
				margin-top: 36px;
				// width: 755px;
				height: auto;
				font-size: 22.5px;
				font-weight: 400;
				line-height: 40.5px;
				overflow: hidden;
				letter-spacing: 4%;
			}
		}
	}
}
